public/article.html
<!DOCTYPE html>
<html>
  <head>
    <title>Pug-Sass Starter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" data-skip-moving="true"></script>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" data-skip-moving="true">
      if ($(window).width() <= 480) {$('meta[name="viewport"]').attr('content', 'width=480')}
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="menu-toggle"><span></span><a class="bt" href="#l"></a></div><a class="logo header__logo" href="#index">
        <div class="logo__desc">Национальная транспортная компания</div></a>
      <div class="header__trigger"><a class="tel" href="tel:+78002222222">8 800 2222 222</a><a class="btn" href="#linka">Узнать больше</a></div>
      <div class="main-nav">
        <ul class="main-menu">
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">О нас</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Команда</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Контакты</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Услуги</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Зерновоз</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Отзывы</a></li>
        </ul>
        <div class="social-nets main-menu__social-nets"><a class="social-ico ico-insta fa fa-instagram" href="#l" aria-hidden="true"></a><a class="social-ico ico-fb fa fa-facebook" href="#l" aria-hidden="true"></a><a class="social-ico ico-vk fa fa-vk" href="#l" aria-hidden="true"></a><a class="social-ico ico-wu fa fa-whatsapp" href="#l" aria-hidden="true"></a><a class="social-ico ico-li fa fa-linkedin" href="#l" aria-hidden="true"></a><a class="social-ico ico-yt fa fa-youtube" href="#l" aria-hidden="true"></a></div>
        <div class="main-menu__sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </header>
    <div class="page">
      <div class="page__header page-articles__header">
        <div class="breadcrumbs"><a class="breadcrumbs__item" href="#l">Главная</a><a class="breadcrumbs__item" href="#l">Статьи</a></div>
        <h1>Оплата товара пальцем — сегодня уже прошлый век!</h1>
      </div>
      <div class="container">
        <figure class="page-article__thumb">
          <figcaption>12 июля 2017</figcaption><img src="img/a-img.png">
        </figure>
        <p>Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании новых предложений. Не следует, однако забывать, что сложившаяся структура организации в значительной степени обуславливает создание существенных финансовых и административных условий. Не следует, однако забывать, что сложившаяся структура организации требуют от нас анализа новых предложений.</p>
        <p>Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации новых предложений. Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке систем массового участия.</p><a class="link link_dark link_back" href="#l">Вернуться к списку статей</a>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__nav">
        <div class="container">
          <ul class="menu-bar">
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">о нас</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">команда</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">контакты</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">услуги</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">зерновоз</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">отзывы</a></li>
            <li class="menu-bar__link menu-bar__helper"></li>
          </ul>
        </div>
      </div>
      <div class="container footer__bottom">
        <div class="footer__col-first">
          <div class="cr">© ООО «НТК» — 2015-2017</div><a class="m-version" href="#mobile-v"><i class="fa fa-mobile" aria-hidden="true"></i><span>Мобильная версия</span></a>
        </div>
        <div class="footer__col-contacts">
          <p>Телефон: Москва +7 499 348 13 20, Екатеринбург +7 343 351 76 80,</p>
          <p>Казахстан (Алматы) +7 727 350 81 02</p>
          <p>Адрес: 620014, г. Екатеринбург, ул. Малышева д. 51, оф. 43/02</p>
        </div>
        <div class="footer__col-sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </footer><!-- SCRIPTS -->
    <script src="static/js/ext/owl.carousel.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
  </body>
</html>

src/_partials/article.pug
.page
  .page__header.page-articles__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
      a(href="#l").breadcrumbs__item Статьи
    h1 Оплата товара пальцем — сегодня уже прошлый век!
  .container
    figure.page-article__thumb
      figcaption 12 июля 2017
      img(src="img/a-img.png")
    p Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании новых предложений. Не следует, однако забывать, что сложившаяся структура организации в значительной степени обуславливает создание существенных финансовых и административных условий. Не следует, однако забывать, что сложившаяся структура организации требуют от нас анализа новых предложений.
    p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации новых предложений. Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке систем массового участия.
    a(href="#l").link.link_dark.link_back Вернуться к списку статей
