src/_partials/articles.pug
.page
  .page__header.page-articles__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1 Статьи
  .container
    .page-articles__list
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-1.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Предоставляем вагоны зерновозы
        .page-articles__item-desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-2.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Название статьи в три строки, чтобы показать межстрочное расстояние
        .page-articles__item-desc Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания. по разработке систем массового участия. 
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-3.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Название статьи
        .page-articles__item-desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-4.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Название статьи о зерновозах
        .page-articles__item-desc Не следует, однако забывать, что сложившаяся структура организации требуют от нас анализа новых предложений.
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-5.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Предоставляем вагоны зерновозы
        .page-articles__item-desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-6.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Название статьи в три строки, чтобы показать межстрочное расстояние
        .page-articles__item-desc Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания. по разработке систем массового участия. 
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-7.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Предоставляем вагоны зерновозы
        .page-articles__item-desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.
        .link Читать продолжение
      a(href="#l").page-articles__item
        .page-articles__item-thumb
          img(src="img/a-8.png")
        .page-articles__item-date 1 июня 2017
        .page-articles__item-title Предоставляем вагоны зерновозы
        .page-articles__item-desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.
        .link Читать продолжение
    include paginator

public/articles.html
<!DOCTYPE html>
<html>
  <head>
    <title>Pug-Sass Starter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" data-skip-moving="true"></script>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" data-skip-moving="true">
      if ($(window).width() <= 480) {$('meta[name="viewport"]').attr('content', 'width=480')}
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="menu-toggle"><span></span><a class="bt" href="#l"></a></div><a class="logo header__logo" href="#index">
        <div class="logo__desc">Национальная транспортная компания</div></a>
      <div class="header__trigger"><a class="tel" href="tel:+78002222222">8 800 2222 222</a><a class="btn" href="#linka">Узнать больше</a></div>
      <div class="main-nav">
        <ul class="main-menu">
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">О нас</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Команда</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Контакты</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Услуги</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Зерновоз</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Отзывы</a></li>
        </ul>
        <div class="social-nets main-menu__social-nets"><a class="social-ico ico-insta fa fa-instagram" href="#l" aria-hidden="true"></a><a class="social-ico ico-fb fa fa-facebook" href="#l" aria-hidden="true"></a><a class="social-ico ico-vk fa fa-vk" href="#l" aria-hidden="true"></a><a class="social-ico ico-wu fa fa-whatsapp" href="#l" aria-hidden="true"></a><a class="social-ico ico-li fa fa-linkedin" href="#l" aria-hidden="true"></a><a class="social-ico ico-yt fa fa-youtube" href="#l" aria-hidden="true"></a></div>
        <div class="main-menu__sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </header>
    <div class="page">
      <div class="page__header page-articles__header">
        <div class="breadcrumbs"><a class="breadcrumbs__item" href="#l">Главная</a></div>
        <h1>Статьи</h1>
      </div>
      <div class="container">
        <div class="page-articles__list"><a class="page-articles__item" href="#l">
            <div class="page-articles__item-thumb"><img src="img/a-1.png"></div>
            <div class="page-articles__item-date">1 июня 2017</div>
            <div class="page-articles__item-title">Предоставляем вагоны зерновозы</div>
            <div class="page-articles__item-desc">Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.</div>
            <div class="link">Читать продолжение</div></a><a class="page-articles__item" href="#l">
            <div class="page-articles__item-thumb"><img src="img/a-2.png"></div>
            <div class="page-articles__item-date">1 июня 2017</div>
            <div class="page-articles__item-title">Название статьи в три строки, чтобы показать межстрочное расстояние</div>
            <div class="page-articles__item-desc">Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания. по разработке систем массового участия. </div>
            <div class="link">Читать продолжение</div></a><a class="page-articles__item" href="#l">
            <div class="page-articles__item-thumb"><img src="img/a-3.png"></div>
            <div class="page-articles__item-date">1 июня 2017</div>
            <div class="page-articles__item-title">Название статьи</div>
            <div class="page-articles__item-desc">Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.</div>
            <div class="link">Читать продолжение</div></a><a class="page-articles__item" href="#l">
            <div class="page-articles__item-thumb"><img src="img/a-4.png"></div>
            <div class="page-articles__item-date">1 июня 2017</div>
            <div class="page-articles__item-title">Название статьи о зерновозах</div>
            <div class="page-articles__item-desc">Не следует, однако забывать, что сложившаяся структура организации требуют от нас анализа новых предложений.</div>
            <div class="link">Читать продолжение</div></a><a class="page-articles__item" href="#l">
            <div class="page-articles__item-thumb"><img src="img/a-5.png"></div>
            <div class="page-articles__item-date">1 июня 2017</div>
            <div class="page-articles__item-title">Предоставляем вагоны зерновозы</div>
            <div class="page-articles__item-desc">Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.</div>
            <div class="link">Читать продолжение</div></a><a class="page-articles__item" href="#l">
            <div class="page-articles__item-thumb"><img src="img/a-6.png"></div>
            <div class="page-articles__item-date">1 июня 2017</div>
            <div class="page-articles__item-title">Название статьи в три строки, чтобы показать межстрочное расстояние</div>
            <div class="page-articles__item-desc">Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания. по разработке систем массового участия. </div>
            <div class="link">Читать продолжение</div></a><a class="page-articles__item" href="#l">
            <div class="page-articles__item-thumb"><img src="img/a-7.png"></div>
            <div class="page-articles__item-date">1 июня 2017</div>
            <div class="page-articles__item-title">Предоставляем вагоны зерновозы</div>
            <div class="page-articles__item-desc">Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.</div>
            <div class="link">Читать продолжение</div></a><a class="page-articles__item" href="#l">
            <div class="page-articles__item-thumb"><img src="img/a-8.png"></div>
            <div class="page-articles__item-date">1 июня 2017</div>
            <div class="page-articles__item-title">Предоставляем вагоны зерновозы</div>
            <div class="page-articles__item-desc">Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций.</div>
            <div class="link">Читать продолжение</div></a></div>
        <div class="paginator">
          <ul class="paginator__list">
            <li class="paginator__item paginator__item_prev"><a class="paginator__link" href="#prev">Назад</a></li>
            <li class="paginator__item paginator__item_current"><span>1</span></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">2</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">3</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">4</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">5</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">6</a></li>
            <li class="paginator__item"><span>...</span></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">99</a></li>
            <li class="paginator__item paginator__item_next"><a class="paginator__link" href="#next">Вперед</a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__nav">
        <div class="container">
          <ul class="menu-bar">
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">о нас</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">команда</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">контакты</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">услуги</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">зерновоз</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">отзывы</a></li>
            <li class="menu-bar__link menu-bar__helper"></li>
          </ul>
        </div>
      </div>
      <div class="container footer__bottom">
        <div class="footer__col-first">
          <div class="cr">© ООО «НТК» — 2015-2017</div><a class="m-version" href="#mobile-v"><i class="fa fa-mobile" aria-hidden="true"></i><span>Мобильная версия</span></a>
        </div>
        <div class="footer__col-contacts">
          <p>Телефон: Москва +7 499 348 13 20, Екатеринбург +7 343 351 76 80,</p>
          <p>Казахстан (Алматы) +7 727 350 81 02</p>
          <p>Адрес: 620014, г. Екатеринбург, ул. Малышева д. 51, оф. 43/02</p>
        </div>
        <div class="footer__col-sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </footer><!-- SCRIPTS -->
    <script src="static/js/ext/owl.carousel.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
  </body>
</html>
