src/_partials/contacts.pug
.page
  .page__header.page-contacts__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1 Контакты
  .page-contacts
    img(src="img/bg__company.png").bg-img.page-contacts__bg-img
    .container
      .infoblock.page-contacts__infoblock
        h3 Штаб квартира НТК
        .infoblock__row
          .infoblock__row-ico.ico-address
          .infoblock__row-content г. Екатеринбург, ул. Малышева, 51, этаж 43, офис 02
          .infoblock__row-content БЦ «Высоцкий» является самым северным небоскребом мира. Высота гордости Екатеринбурга — 188,3 м.
        .infoblock__row
          .infoblock__row-ico.ico-phone
          .infoblock__row-content
            | Москва +7 499 348 13 20<br>
            | Екатеринбург +7 343 351 76 80<br>
            | Казахстан (Алматы) +7(727)350 81 03
  .b-contacts
    #map-ekb
    .container
      form.page-contacts__form
        h3 Обратная связь
        label.page-form__label
          span Ваше имя
            sup *
          input.page-form__input(type='text', data-req='req')
        label.page-form__label
          span Ваш E-mail
            sup *
          input.page-form__input(type='email', data-req='req')
        label.page-form__label
          span Ваш вопрос
            sup *
          textarea(rows='2', data-type='text', data-req='req').page-form__textarea
        .form__row <sup>*</sup> — поля обязательные для заполнения
        input#cb-2.checkbox.checkbox_front(type='checkbox' checked)
        label.page-form__label_dark.page-form__check(for='cb-2')
          | Согласен на обработку 
          a.link.link_dark(href='#') персональных данных
        .page-form__error
          input(type='submit' value="Отправить").btn
          .page-form__error-text Некоторые поля не заполнены или заполнены с ошибкой
        
// GOOGLE MAPS
script(src='static/js/g-maps.js')
script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', async='', defer='')

public/contacts.html
<!DOCTYPE html>
<html>
  <head>
    <title>Pug-Sass Starter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript"></script>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      if ($(window).width() <= 480) {$('meta[name="viewport"]').attr('content', 'width=480')}
      
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="menu-toggle"><span></span><a class="bt" href="#l"></a></div><a class="logo header__logo" href="#index">
        <div class="logo__desc">Национальная транспортная компания</div></a>
      <div class="header__trigger"><a class="tel" href="tel:+78002222222">8 800 2222 222</a><a class="btn" href="#linka">Узнать больше</a></div>
      <div class="main-nav">
        <ul class="main-menu">
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">О нас</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Команда</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Контакты</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Услуги</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Зерновоз</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Отзывы</a></li>
        </ul>
        <div class="social-nets main-menu__social-nets"><a class="social-ico ico-insta fa fa-instagram" href="#l" aria-hidden="true"></a><a class="social-ico ico-fb fa fa-facebook" href="#l" aria-hidden="true"></a><a class="social-ico ico-vk fa fa-vk" href="#l" aria-hidden="true"></a><a class="social-ico ico-wu fa fa-whatsapp" href="#l" aria-hidden="true"></a><a class="social-ico ico-li fa fa-linkedin" href="#l" aria-hidden="true"></a><a class="social-ico ico-yt fa fa-youtube" href="#l" aria-hidden="true"></a></div>
        <div class="main-menu__sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </header>
    <div class="page">
      <div class="page__header page-contacts__header">
        <div class="breadcrumbs"><a class="breadcrumbs__item" href="#l">Главная</a></div>
        <h1>Контакты</h1>
      </div>
      <div class="page-contacts"><img class="bg-img page-contacts__bg-img" src="img/bg__company.png">
        <div class="container">
          <div class="infoblock page-contacts__infoblock">
            <h3>Штаб квартира НТК</h3>
            <div class="infoblock__row">
              <div class="infoblock__row-ico ico-address"></div>
              <div class="infoblock__row-content">г. Екатеринбург, ул. Малышева, 51, этаж 43, офис 02</div>
              <div class="infoblock__row-content">БЦ «Высоцкий» является самым северным небоскребом мира. Высота гордости Екатеринбурга — 188,3 м.</div>
            </div>
            <div class="infoblock__row">
              <div class="infoblock__row-ico ico-phone"></div>
              <div class="infoblock__row-content">
                Москва +7 499 348 13 20<br>
                Екатеринбург +7 343 351 76 80<br>
                Казахстан (Алматы) +7(727)350 81 03
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-contacts">
        <div id="map-ekb"></div>
        <div class="container">
          <form class="page-contacts__form">
            <h3>Обратная связь</h3>
            <label class="page-form__label"><span>Ваше имя<sup>*</sup></span>
              <input class="page-form__input" type="text" data-req="req">
            </label>
            <label class="page-form__label"><span>Ваш E-mail<sup>*</sup></span>
              <input class="page-form__input" type="email" data-req="req">
            </label>
            <label class="page-form__label"><span>Ваш вопрос<sup>*</sup></span>
              <textarea class="page-form__textarea" rows="2" data-type="text" data-req="req"></textarea>
            </label>
            <div class="form__row"><sup>*</sup> — поля обязательные для заполнения</div>
            <input class="checkbox checkbox_front" id="cb-2" type="checkbox" checked>
            <label class="page-form__label_dark page-form__check" for="cb-2">Согласен на обработку <a class="link link_dark" href="#">персональных данных</a></label>
            <div class="page-form__error">
              <input class="btn" type="submit" value="Отправить">
              <div class="page-form__error-text">Некоторые поля не заполнены или заполнены с ошибкой</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- GOOGLE MAPS-->
    <script src="static/js/g-maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async="" defer=""></script>
    <footer class="footer">
      <div class="footer__nav">
        <div class="container">
          <ul class="menu-bar">
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">о нас</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">команда</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">контакты</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">услуги</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">зерновоз</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">отзывы</a></li>
            <li class="menu-bar__link menu-bar__helper"></li>
          </ul>
        </div>
      </div>
      <div class="container footer__bottom">
        <div class="footer__col-first">
          <div class="cr">© ООО «НТК» — 2015-2017</div><a class="m-version" href="#mobile-v"><i class="fa fa-mobile" aria-hidden="true"></i><span>Мобильная версия</span></a>
        </div>
        <div class="footer__col-contacts">
          <p>Телефон: Москва +7 499 348 13 20, Екатеринбург +7 343 351 76 80,</p>
          <p>Казахстан (Алматы) +7 727 350 81 02</p>
          <p>Адрес: 620014, г. Екатеринбург, ул. Малышева д. 51, оф. 43/02</p>
        </div>
        <div class="footer__col-sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </footer><!-- SCRIPTS -->
    <script src="static/js/ext/owl.carousel.min.js"></script>
    <script src="static/js/ext/jquery.animateNumber.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
  </body>
</html>
