src/_partials/default.pug
.page
  .page__header.page-services__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1 H1 Заголовок первого уровня, например, условный текст
  .container
    p Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании новых предложений. Не следует, однако забывать, что сложившаяся структура организации в значительной степени обуславливает создание существенных финансовых и административных условий. Не следует, однако забывать, что сложившаяся структура организации требуют от нас анализа новых предложений.
    p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации новых предложений. Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке систем массового участия.
    h2 H2 — Заголовок второго уровня, условный текст в две строки, чтобы показать межстрочный интервал
    p Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании направлений 
      a(href="#l") прогрессивного развития.
    p Не следует, однако забывать, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание новых предложений. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании новых предложений.
    figure
      img(src="img/default-img.png")
      figcaption Описание фотографии
    p Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации систем массового участия.
    h3 H3 — Заголовок второго уровня, задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений
    p Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации систем массового участия.
    ul
      li Мы одна из немногих российских компаний, имеющих лицензию на экспортно-импортную деятельность
      li Мы одна из немногих российских компаний, имеющих лицензию на экспортно-импортную деятельность
      li Мы одна из немногих российских компаний, имеющих лицензию на экспортно-импортную деятельность
      li Мы одна из немногих российских компаний, имеющих лицензию на экспортно-импортную деятельность
      li Мы одна из немногих российских компаний, имеющих лицензию на экспортно-импортную деятельность
    p Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий.
    table
      caption Название таблицы
      thead
        tr
          td Название
          td Какие грузы перевозят
          td Вагонов в оперировании
      tbody
        tr
          td Зерновозы
          td Используются для транспортировки зерновых и продуктов их переработки, включая шрот, жмых и прочие
          td 7 202
        tr
          td Полувагоны
          td Вагоны открытой конструкции с бортами в полную высоту, служащие для доставки полезных ископаемых, леса и продуктов его переработки, металлопроката
          td 25 293
        tr
          td Крытые вагоны
          td Вагоны открытой конструкции с бортами в полную высоту, служащие для доставки полезных ископаемых, леса и продуктов его переработки, металлопроката
          td 14 087
        tr
          td Цементовозы
          td Хопперы-цементовозы — вагоны бункерного типа с функцией саморазгрузки
          td 5 503
        tr
          td Минераловозы
          td Хопперы-минераловозы — грузовые вагоны бункерного типа с саморазгрузкой
          td 4 807
        tr
          td Цистерны для транспортировки
          td Пищевые цистерны сварной конструкции со сферическим дном
          td 11 289
    p Задача организации, в особенности же новая модель организационной деятельности требуют от нас анализа направлений прогрессивного развития. Равным образом новая модель организационной деятельности способствует подготовки и реализации форм развития. Реализация намеченных плановых заданий позволяет оценить значение модели развития. Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке систем массового участия. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки систем массового участия.
    ol
      li Мы постоянно отслеживаем вагоны рядом с Вашим грузом и подаем и подаем их Вам в кратчайшие сроки;
      li Вы можете оплатить в рублях, долларах США, евро, юанях, тенге и в других валютах СНГ;
      li Мы отслеживаем груз во всех странах и сами сообщаем Вам местонахождение вагонов ежедневно.
    p Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании форм развития. Не следует, однако забывать, что рамки и место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Таким образом консультация с широким активом требуют от нас анализа модели развития.

    
    

public/default.html
<!DOCTYPE html>
<html>
  <head>
    <title>Pug-Sass Starter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" data-skip-moving="true"></script>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" data-skip-moving="true">
      if ($(window).width() <= 480) {$('meta[name="viewport"]').attr('content', 'width=480')}
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="menu-toggle"><span></span><a class="bt" href="#l"></a></div><a class="logo header__logo" href="#index">
        <div class="logo__desc">Национальная транспортная компания</div></a>
      <div class="header__trigger"><a class="tel" href="tel:+78002222222">8 800 2222 222</a><a class="btn" href="#linka">Узнать больше</a></div>
      <div class="main-nav">
        <ul class="main-menu">
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">О нас</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Команда</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Контакты</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Услуги</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Зерновоз</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Отзывы</a></li>
        </ul>
        <div class="social-nets main-menu__social-nets"><a class="social-ico ico-insta fa fa-instagram" href="#l" aria-hidden="true"></a><a class="social-ico ico-fb fa fa-facebook" href="#l" aria-hidden="true"></a><a class="social-ico ico-vk fa fa-vk" href="#l" aria-hidden="true"></a><a class="social-ico ico-wu fa fa-whatsapp" href="#l" aria-hidden="true"></a><a class="social-ico ico-li fa fa-linkedin" href="#l" aria-hidden="true"></a><a class="social-ico ico-yt fa fa-youtube" href="#l" aria-hidden="true"></a></div>
        <div class="main-menu__sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </header>
    <div class="page">
      <div class="page__header page-services__header">
        <div class="breadcrumbs"><a class="breadcrumbs__item" href="#l">Главная</a></div>
        <h1>H1 Заголовок первого уровня, например, условный текст</h1>
      </div>
      <div class="container">
        <p>Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании новых предложений. Не следует, однако забывать, что сложившаяся структура организации в значительной степени обуславливает создание существенных финансовых и административных условий. Не следует, однако забывать, что сложившаяся структура организации требуют от нас анализа новых предложений.</p>
        <p>Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации новых предложений. Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке систем массового участия.</p>
        <h2>H2 — Заголовок второго уровня, условный текст в две строки, чтобы показать межстрочный интервал</h2>
        <p>Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании направлений <a href="#l">прогрессивного развития.</a></p>
        <p>Не следует, однако забывать, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание новых предложений. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании новых предложений.</p>
        <figure><img src="img/default-img.png">
          <figcaption>Описание фото</figcaption>
        </figure>
        <p>Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации систем массового участия.</p>
        <h3>H3 — Заголовок второго уровня, задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений</h3>
        <p>Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации систем массового участия.</p>
        <ul>
          <li>Мы одна из немногих российских компаний, имеющих лицензию на экспортно-импортную деятельность</li>
          <li>Мы одна из немногих российских компаний, имеющих лицензию на экспортно-импортную деятельность</li>
          <li>Мы одна из немногих российских компаний, имеющих лицензию на экспортно-импортную деятельность</li>
          <li>Мы одна из немногих российских компаний, имеющих лицензию на экспортно-импортную деятельность</li>
          <li>Мы одна из немногих российских компаний, имеющих лицензию на экспортно-импортную деятельность</li>
        </ul>
        <p>Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий.</p>
        <table>
          <caption>Название таблицы</caption>
          <thead>
            <tr>
              <td>Название</td>
              <td>Какие грузы перевозят</td>
              <td>Вагонов в оперировании</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Зерновозы</td>
              <td>Используются для транспортировки зерновых и продуктов их переработки, включая шрот, жмых и прочие</td>
              <td>7 202</td>
            </tr>
            <tr>
              <td>Полувагоны</td>
              <td>Вагоны открытой конструкции с бортами в полную высоту, служащие для доставки полезных ископаемых, леса и продуктов его переработки, металлопроката</td>
              <td>25 293</td>
            </tr>
            <tr>
              <td>Крытые вагоны</td>
              <td>Вагоны открытой конструкции с бортами в полную высоту, служащие для доставки полезных ископаемых, леса и продуктов его переработки, металлопроката</td>
              <td>14 087</td>
            </tr>
            <tr>
              <td>Цементовозы</td>
              <td>Хопперы-цементовозы — вагоны бункерного типа с функцией саморазгрузки</td>
              <td>5 503</td>
            </tr>
            <tr>
              <td>Минераловозы</td>
              <td>Хопперы-минераловозы — грузовые вагоны бункерного типа с саморазгрузкой</td>
              <td>4 807</td>
            </tr>
            <tr>
              <td>Цистерны для транспортировки</td>
              <td>Пищевые цистерны сварной конструкции со сферическим дном</td>
              <td>11 289</td>
            </tr>
          </tbody>
        </table>
        <p>Задача организации, в особенности же новая модель организационной деятельности требуют от нас анализа направлений прогрессивного развития. Равным образом новая модель организационной деятельности способствует подготовки и реализации форм развития. Реализация намеченных плановых заданий позволяет оценить значение модели развития. Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке систем массового участия. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки систем массового участия.</p>
        <ol>
          <li>Мы постоянно отслеживаем вагоны рядом с Вашим грузом и подаем и подаем их Вам в кратчайшие сроки;</li>
          <li>Вы можете оплатить в рублях, долларах США, евро, юанях, тенге и в других валютах СНГ;</li>
          <li>Мы отслеживаем груз во всех странах и сами сообщаем Вам местонахождение вагонов ежедневно.</li>
        </ol>
        <p>Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании форм развития. Не следует, однако забывать, что рамки и место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Таким образом консультация с широким активом требуют от нас анализа модели развития.</p>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__nav">
        <div class="container">
          <ul class="menu-bar">
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">о нас</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">команда</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">контакты</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">услуги</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">зерновоз</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">отзывы</a></li>
            <li class="menu-bar__link menu-bar__helper"></li>
          </ul>
        </div>
      </div>
      <div class="container footer__bottom">
        <div class="footer__col-first">
          <div class="cr">© ООО «НТК» — 2015-2017</div><a class="m-version" href="#mobile-v"><i class="fa fa-mobile" aria-hidden="true"></i><span>Мобильная версия</span></a>
        </div>
        <div class="footer__col-contacts">
          <p>Телефон: Москва +7 499 348 13 20, Екатеринбург +7 343 351 76 80,</p>
          <p>Казахстан (Алматы) +7 727 350 81 02</p>
          <p>Адрес: 620014, г. Екатеринбург, ул. Малышева д. 51, оф. 43/02</p>
        </div>
        <div class="footer__col-sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </footer><!-- SCRIPTS -->
    <script src="static/js/ext/owl.carousel.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
  </body>
</html>
