src/_partials/faq.pug
.page
  .page__header.page-faq__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1 Вопросы и ответы
  .container
    .page__content.page__content_first
      .page-faq__list
        .page-faq__item
          .page-faq__item-title На Вашем сайте указано, что Вы помогаете с поиском надежных поставщиков и покупателей на железной дороге. Как это выглядит?
            .page-faq__item-toggle
          .page-faq__item-content Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и активным плательщиком железнодорожных тарифов по РФ. Вы можете самостоятельно подтвердить эту информацию. Несмотря на колоссальный товарооборот, рынок железнодорожных перевозок весьма ограничен, а рынок перевозок зерновых – еще более скромен, чтобы позволить себе репутационные издержки. Именно поэтому мы всей душой вкладываемся в каждую перевозку наших клиентов. Если Вы хотите провести экспресс-тест, обратитесь к нам. Назовите любого грузоотправителя или номер вагона. И наши сотрудники расскажут Вам информацию, которую невозможно получить, не обладая высокой компетенцией в железнодорожной отрасли. Также Вы можете обратиться к нам за заключением договора, мы направим Вам полный пакет наших учредительных документов.
        .page-faq__item
          .page-faq__item-title Я из Казахстана, какой смысл обращаться в российскую компанию?
            .page-faq__item-toggle
          .page-faq__item-content Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и акт
        .page-faq__item.page-faq__item_active
          .page-faq__item-title Какие гарантии того, что вы качественно оказываете услуги?
            .page-faq__item-toggle
          .page-faq__item-content Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, ес
        .page-faq__item
          .page-faq__item-title Вы можете погрузить мой груз в вагоны?
            .page-faq__item-toggle
          .page-faq__item-content Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и активным плательщиком железнодорожных тарифов по РФ. Вы можете самостоятельно подтвердить эту информацию. Несмотря на колоссальный товарооборот, рынок железнодорожных перевозок весьма ограничен, а рынок перевозок зерновых – еще более скромен, чтобы позволить себе репутационные издержки. Именно поэтому мы всей душой вкладываемся в каждую перевозку наших клиентов. Если Вы хотите провести экспресс-тест, обратитесь к нам. Назовите любого грузоотправителя или номер вагона. И наши сотрудники расскажут Вам информацию, которую невозможно получить, не обладая высокой компетенцией в железнодорожной отрасли. Также Вы можете обратиться к нам за заключением договора, мы направим Вам полный пакет наших учредительных документов.
        .page-faq__item
          .page-faq__item-title Какие вагоны вы предоставляете?
            .page-faq__item-toggle
          .page-faq__item-content Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и активным плательщиком железнодорожных тарифов по РФ. Вы можете самостоятельно подтвердить эту информацию. Несмотря на колоссальный товарооборот, рынок железнодорожных перевозок весьма ограничен, а рынок перевозок зерновых – еще более скромен, чтобы позволить себе репутационные издержки. Именно поэтому мы всей душой вкладываемся в каждую перевозку наших клиентов.
            
    .page__sidebar
      .sidebar-col.sidebar-col_light
        h3 Задать вопрос
        form
          label.page-form__label
            span Ваше имя
              sup *
            input.page-form__input(type='text', data-req='req')
          label.page-form__label
            span Ваш E-mail
              sup *
            input.page-form__input(type='email', data-req='req')
          label.page-form__label
            span Ваш вопрос
              sup *
            textarea(rows='2', data-type='text', data-req='req').page-form__textarea
          .form__row <sup>*</sup> — поля обязательные для заполнения
          input#cb-2.checkbox.checkbox_front(type='checkbox')
          label.page-form__label_dark.page-form__check(for='cb-2')
            | Согласен на обработку 
            a.link.link_dark(href='#') персональных данных
          .page-form__error
            input(type='submit' value="Отправить").btn
            .page-form__error-text Некоторые поля не заполнены или заполнены с ошибкой
    include paginator

public/faq.html
<!DOCTYPE html>
<html>
  <head>
    <title>Pug-Sass Starter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" data-skip-moving="true"></script>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" data-skip-moving="true">
      if ($(window).width() <= 480) {$('meta[name="viewport"]').attr('content', 'width=480')}
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="menu-toggle"><span></span><a class="bt" href="#l"></a></div><a class="logo header__logo" href="#index">
        <div class="logo__desc">Национальная транспортная компания</div></a>
      <div class="header__trigger"><a class="tel" href="tel:+78002222222">8 800 2222 222</a><a class="btn" href="#linka">Узнать больше</a></div>
      <div class="main-nav">
        <ul class="main-menu">
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">О нас</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Команда</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Контакты</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Услуги</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Зерновоз</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Отзывы</a></li>
        </ul>
        <div class="social-nets main-menu__social-nets"><a class="social-ico ico-insta fa fa-instagram" href="#l" aria-hidden="true"></a><a class="social-ico ico-fb fa fa-facebook" href="#l" aria-hidden="true"></a><a class="social-ico ico-vk fa fa-vk" href="#l" aria-hidden="true"></a><a class="social-ico ico-wu fa fa-whatsapp" href="#l" aria-hidden="true"></a><a class="social-ico ico-li fa fa-linkedin" href="#l" aria-hidden="true"></a><a class="social-ico ico-yt fa fa-youtube" href="#l" aria-hidden="true"></a></div>
        <div class="main-menu__sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </header>
    <div class="page">
      <div class="page__header page-faq__header">
        <div class="breadcrumbs"><a class="breadcrumbs__item" href="#l">Главная</a></div>
        <h1>Вопросы и ответы</h1>
      </div>
      <div class="container">
        <div class="page__content page__content_first">
          <div class="page-faq__list">
            <div class="page-faq__item">
              <div class="page-faq__item-title">На Вашем сайте указано, что Вы помогаете с поиском надежных поставщиков и покупателей на железной дороге. Как это выглядит?
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content">Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и активным плательщиком железнодорожных тарифов по РФ. Вы можете самостоятельно подтвердить эту информацию. Несмотря на колоссальный товарооборот, рынок железнодорожных перевозок весьма ограничен, а рынок перевозок зерновых – еще более скромен, чтобы позволить себе репутационные издержки. Именно поэтому мы всей душой вкладываемся в каждую перевозку наших клиентов. Если Вы хотите провести экспресс-тест, обратитесь к нам. Назовите любого грузоотправителя или номер вагона. И наши сотрудники расскажут Вам информацию, которую невозможно получить, не обладая высокой компетенцией в железнодорожной отрасли. Также Вы можете обратиться к нам за заключением договора, мы направим Вам полный пакет наших учредительных документов.</div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Я из Казахстана, какой смысл обращаться в российскую компанию?
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content">Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и акт</div>
            </div>
            <div class="page-faq__item page-faq__item_active">
              <div class="page-faq__item-title">Какие гарантии того, что вы качественно оказываете услуги?
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content">Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, ес</div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Вы можете погрузить мой груз в вагоны?
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content">Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и активным плательщиком железнодорожных тарифов по РФ. Вы можете самостоятельно подтвердить эту информацию. Несмотря на колоссальный товарооборот, рынок железнодорожных перевозок весьма ограничен, а рынок перевозок зерновых – еще более скромен, чтобы позволить себе репутационные издержки. Именно поэтому мы всей душой вкладываемся в каждую перевозку наших клиентов. Если Вы хотите провести экспресс-тест, обратитесь к нам. Назовите любого грузоотправителя или номер вагона. И наши сотрудники расскажут Вам информацию, которую невозможно получить, не обладая высокой компетенцией в железнодорожной отрасли. Также Вы можете обратиться к нам за заключением договора, мы направим Вам полный пакет наших учредительных документов.</div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Какие вагоны вы предоставляете?
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content">Мы стремимся к максимально прозрачной деятельности. Все подтверждения нашей добросовестной работы мы выкладываем на нашем сайте, если это не противоречит политике наших партнеров. Наша компания имеет прямой договор с Российскими и Белорусскими Железными Дорогами, является действующим пользователем системы ЭТРАН и активным плательщиком железнодорожных тарифов по РФ. Вы можете самостоятельно подтвердить эту информацию. Несмотря на колоссальный товарооборот, рынок железнодорожных перевозок весьма ограничен, а рынок перевозок зерновых – еще более скромен, чтобы позволить себе репутационные издержки. Именно поэтому мы всей душой вкладываемся в каждую перевозку наших клиентов.</div>
            </div>
          </div>
        </div>
        <div class="page__sidebar">
          <div class="sidebar-col sidebar-col_light">
            <h3>Задать вопрос</h3>
            <form>
              <label class="page-form__label"><span>Ваше имя<sup>*</sup></span>
                <input class="page-form__input" type="text" data-req="req">
              </label>
              <label class="page-form__label"><span>Ваш E-mail<sup>*</sup></span>
                <input class="page-form__input" type="email" data-req="req">
              </label>
              <label class="page-form__label"><span>Ваш вопрос<sup>*</sup></span>
                <textarea class="page-form__textarea" rows="2" data-type="text" data-req="req"></textarea>
              </label>
              <div class="form__row"><sup>*</sup> — поля обязательные для заполнения</div>
              <input class="checkbox checkbox_front" id="cb-2" type="checkbox">
              <label class="page-form__label_dark page-form__check" for="cb-2">Согласен на обработку <a class="link link_dark" href="#">персональных данных</a></label>
              <div class="page-form__error">
                <input class="btn" type="submit" value="Отправить">
                <div class="page-form__error-text">Некоторые поля не заполнены или заполнены с ошибкой</div>
              </div>
            </form>
          </div>
        </div>
        <div class="paginator">
          <ul class="paginator__list">
            <li class="paginator__item paginator__item_prev"><a class="paginator__link" href="#prev">Назад</a></li>
            <li class="paginator__item paginator__item_current"><span>1</span></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">2</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">3</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">4</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">5</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">6</a></li>
            <li class="paginator__item"><span>...</span></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">99</a></li>
            <li class="paginator__item paginator__item_next"><a class="paginator__link" href="#next">Вперед</a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__nav">
        <div class="container">
          <ul class="menu-bar">
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">о нас</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">команда</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">контакты</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">услуги</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">зерновоз</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">отзывы</a></li>
            <li class="menu-bar__link menu-bar__helper"></li>
          </ul>
        </div>
      </div>
      <div class="container footer__bottom">
        <div class="footer__col-first">
          <div class="cr">© ООО «НТК» — 2015-2017</div><a class="m-version" href="#mobile-v"><i class="fa fa-mobile" aria-hidden="true"></i><span>Мобильная версия</span></a>
        </div>
        <div class="footer__col-contacts">
          <p>Телефон: Москва +7 499 348 13 20, Екатеринбург +7 343 351 76 80,</p>
          <p>Казахстан (Алматы) +7 727 350 81 02</p>
          <p>Адрес: 620014, г. Екатеринбург, ул. Малышева д. 51, оф. 43/02</p>
        </div>
        <div class="footer__col-sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </footer><!-- SCRIPTS -->
    <script src="static/js/ext/owl.carousel.min.js"></script>
    <script src="static/js/ext/jquery.animateNumber.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
  </body>
</html>
