src/_partials/uslugi.pug
.page.page-services
  .page__header.page-services__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1.page__title Наши услуги
  .page-services__desc.text_size_s.centered Глубоко зная рынок, мы оказываем все необходимые услуги,<br>которые позволяют Вам осуществить перевозку наиболее эффектно
  .page-services__list
    .page-services__item
      .container
        .page-services__item-img
          img(src='img/service-1.png')
        .b-desc
          .b-desc__title Вагоны-зерновозы
          .b-desc__text Привлеченный парк зерновозов более 24 000 единиц.
          a(href='#l').btn.btn_gray Подробнее
    .page-services__item
      .container
        .page-services__item-img
          img(src='img/service-2.png')
        .b-desc
          .b-desc__title Крытые вагоны
          .b-desc__text Вагоны крытой конструкции, предохраняющие грузы от порчи.
          a(href='#l').btn.btn_gray Подробнее
    .page-services__item
      .container
        .page-services__item-img
          img(src='img/service-3.png')
        .b-desc
          .b-desc__title Оплата жд тарифа
          .b-desc__text Для наших партнеров — без комиссии.
          a(href='#l').btn.btn_gray Подробнее
    .page-services__item
      .container
        .page-services__item-img
          img(src='img/service-4.png')
        .b-desc
          .b-desc__title Услуги грузоотправителя
          .b-desc__text 227 станций работы в России и Казахстане.
          a(href='#l').btn.btn_gray Подробнее
    .page-services__item
      .container
        .page-services__item-img
          img(src='img/service-5.png')
        .b-desc
          .b-desc__title Найти закуп / сбыт зерновых 
          .b-desc__text Мы советуем только проверенные компании и наиболее близкие по местоположению.
          a(href='#l').btn.btn_gray Подробнее

public/uslugi.html
<!DOCTYPE html>
<html>
  <head>
    <title>Pug-Sass Starter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" data-skip-moving="true"></script>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" data-skip-moving="true">
      if ($(window).width() <= 480) {$('meta[name="viewport"]').attr('content', 'width=480')}
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="menu-toggle"><span></span><a class="bt" href="#l"></a></div><a class="logo header__logo" href="#index">
        <div class="logo__desc">Национальная транспортная компания</div></a>
      <div class="header__trigger"><a class="tel" href="tel:+78002222222">8 800 2222 222</a><a class="btn" href="#linka">Узнать больше</a></div>
      <div class="main-nav">
        <ul class="main-menu">
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">О нас</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Команда</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Контакты</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Услуги</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Зерновоз</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Отзывы</a></li>
        </ul>
        <div class="social-nets main-menu__social-nets"><a class="social-ico ico-insta fa fa-instagram" href="#l" aria-hidden="true"></a><a class="social-ico ico-fb fa fa-facebook" href="#l" aria-hidden="true"></a><a class="social-ico ico-vk fa fa-vk" href="#l" aria-hidden="true"></a><a class="social-ico ico-wu fa fa-whatsapp" href="#l" aria-hidden="true"></a><a class="social-ico ico-li fa fa-linkedin" href="#l" aria-hidden="true"></a><a class="social-ico ico-yt fa fa-youtube" href="#l" aria-hidden="true"></a></div>
        <div class="main-menu__sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </header>
    <div class="page page-services">
      <div class="page__header page-services__header">
        <div class="breadcrumbs"><a class="breadcrumbs__item" href="#l">Главная</a></div>
        <h1 class="page__title">Наши услуги</h1>
      </div>
      <div class="page-services__desc text_size_s centered">Глубоко зная рынок, мы оказываем все необходимые услуги,<br>которые позволяют Вам осуществить перевозку наиболее эффектно</div>
      <div class="page-services__list">
        <div class="page-services__item">
          <div class="container">
            <div class="page-services__item-img"><img src="img/service-1.png"></div>
            <div class="b-desc">
              <div class="b-desc__title">Вагоны-зерновозы</div>
              <div class="b-desc__text">Привлеченный парк зерновозов более 24 000 единиц.</div><a class="btn btn_gray" href="#l">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="page-services__item">
          <div class="container">
            <div class="page-services__item-img"><img src="img/service-2.png"></div>
            <div class="b-desc">
              <div class="b-desc__title">Крытые вагоны</div>
              <div class="b-desc__text">Вагоны крытой конструкции, предохраняющие грузы от порчи.</div><a class="btn btn_gray" href="#l">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="page-services__item">
          <div class="container">
            <div class="page-services__item-img"><img src="img/service-3.png"></div>
            <div class="b-desc">
              <div class="b-desc__title">Оплата жд тарифа</div>
              <div class="b-desc__text">Для наших партнеров — без комиссии.</div><a class="btn btn_gray" href="#l">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="page-services__item">
          <div class="container">
            <div class="page-services__item-img"><img src="img/service-4.png"></div>
            <div class="b-desc">
              <div class="b-desc__title">Услуги грузоотправителя</div>
              <div class="b-desc__text">227 станций работы в России и Казахстане.</div><a class="btn btn_gray" href="#l">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="page-services__item">
          <div class="container">
            <div class="page-services__item-img"><img src="img/service-5.png"></div>
            <div class="b-desc">
              <div class="b-desc__title">Найти закуп / сбыт зерновых </div>
              <div class="b-desc__text">Мы советуем только проверенные компании и наиболее близкие по местоположению.</div><a class="btn btn_gray" href="#l">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__nav">
        <div class="container">
          <ul class="menu-bar">
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">о нас</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">команда</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">контакты</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">услуги</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">зерновоз</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">отзывы</a></li>
            <li class="menu-bar__link menu-bar__helper"></li>
          </ul>
        </div>
      </div>
      <div class="container footer__bottom">
        <div class="footer__col-first">
          <div class="cr">© ООО «НТК» — 2015-2017</div><a class="m-version" href="#mobile-v"><i class="fa fa-mobile" aria-hidden="true"></i><span>Мобильная версия</span></a>
        </div>
        <div class="footer__col-contacts">
          <p>Телефон: Москва +7 499 348 13 20, Екатеринбург +7 343 351 76 80,</p>
          <p>Казахстан (Алматы) +7 727 350 81 02</p>
          <p>Адрес: 620014, г. Екатеринбург, ул. Малышева д. 51, оф. 43/02</p>
        </div>
        <div class="footer__col-sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </footer><!-- SCRIPTS -->
    <script src="static/js/ext/owl.carousel.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
  </body>
</html>
