public/usluga.html
<!DOCTYPE html>
<html>
  <head>
    <title>Pug-Sass Starter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" data-skip-moving="true"></script>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" data-skip-moving="true">
      if ($(window).width() <= 480) {$('meta[name="viewport"]').attr('content', 'width=480')}
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="menu-toggle"><span></span><a class="bt" href="#l"></a></div><a class="logo header__logo" href="#index">
        <div class="logo__desc">Национальная транспортная компания</div></a>
      <div class="header__trigger"><a class="tel" href="tel:+78002222222">8 800 2222 222</a><a class="btn" href="#linka">Узнать больше</a></div>
      <div class="main-nav">
        <ul class="main-menu">
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">О нас</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Команда</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Контакты</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Услуги</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Зерновоз</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Отзывы</a></li>
        </ul>
        <div class="social-nets main-menu__social-nets"><a class="social-ico ico-insta fa fa-instagram" href="#l" aria-hidden="true"></a><a class="social-ico ico-fb fa fa-facebook" href="#l" aria-hidden="true"></a><a class="social-ico ico-vk fa fa-vk" href="#l" aria-hidden="true"></a><a class="social-ico ico-wu fa fa-whatsapp" href="#l" aria-hidden="true"></a><a class="social-ico ico-li fa fa-linkedin" href="#l" aria-hidden="true"></a><a class="social-ico ico-yt fa fa-youtube" href="#l" aria-hidden="true"></a></div>
        <div class="main-menu__sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </header>
    <div class="page">
      <div class="page__header page-service__header">
        <div class="breadcrumbs"><a class="breadcrumbs__item" href="#l">Главная</a><a class="breadcrumbs__item" href="#l">Услуги</a></div>
        <h1 class="page__title">Вагоны-зерновозы</h1>
      </div>
      <div class="container">
        <div class="page__sidebar">
          <div class="sidebar-menu sidebar-col">
            <h3 class="sidebar-menu__title"><a class="sidebar-menu__title" href="#l">Услуги</a>
              <div class="accordion__toggle accordion__toggle_active sidebar-menu__toggle"></div>
            </h3>
            <ul class="sidebar-menu__list">
              <li class="sidebar-menu__item"><a class="sidebar-menu__link sidebar-menu__link_current" href="#l">Вагоны-зерновозы</a></li>
              <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="#l">Крытые вагоны</a></li>
              <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="#l">Оплата жд тарифа</a></li>
              <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="#l">Услуги грузоотправителя</a></li>
              <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="#l">Найти закуп / сбыт зерновых</a></li>
            </ul>
          </div>
          <div class="sidebar-col sidebar-col_light sidebar-col_hidden"><img class="sidebar-col__img-o" src="img/mironov.png"><b class="page__text">Микронов Иван Николаевич</b>
            <div class="page__text">Менеджер<br>по продажам</div>
            <div class="page__text">+7 343 351 76<br><a class="link link_dark" href="#">sale@vagonom.ru</a></div>
          </div>
        </div>
        <div class="page__content"><img class="page__thumb" src="img/usluga-thumb.png">
          <div class="page__text">Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании новых предложений.</div>
          <div class="page__text">Таким образом консультация с широким активом влечет за собой процесс модернизации систем массового участия.</div>
          <form class="page-form">
            <div>
              <label class="page-form__label"><span>Ваше имя<sup>*</sup></span>
                <input class="page-form__input" type="text" data-req="req">
              </label>
              <label class="page-form__label"><span>Ваш E-mail<sup>*</sup></span>
                <input class="page-form__input" type="email" data-req="req" data-type="email">
              </label>
            </div>
            <input class="checkbox checkbox_front" type="checkbox" id="cb-2">
            <label class="page-form__label_dark page-form__check" for="cb-2">Согласен на обработку <a class="link link_dark" href="#">персональных данных</a></label>
            <div class="page-form__error">
              <input class="btn" type="submit" value="Оставить заявку">
              <div class="page-form__error-text">Некоторые поля не заполнены или заполнены с ошибкой</div>
            </div>
          </form>
          <div class="b-statistics">
            <div class="b-statistics__item">
              <div class="b-statistics__item-title js-num" data-digits="13753">999</div>
              <div class="b-statistics__item-text">вагона зерновоза</div>
              <div class="page__text">в оперировании</div>
            </div>
            <div class="b-statistics__item">
              <div class="b-statistics__item-title js-num" data-digits="7">0</div>
              <div class="b-statistics__item-text">дней</div>
              <div class="page__text">средний срок поставки вагонов</div>
            </div>
            <div class="b-statistics__item">
              <div class="b-statistics__item-title js-num" data-digits="17">0</div>
              <div class="b-statistics__item-text">минут</div>
              <div class="page__text">максимальный срок расчета ставки</div>
            </div>
          </div>
          <h2>H2 — Заголовок второго уровня, условный текст в две строки, чтобы показать межстрочный интервал</h2>
          <div class="page__text">Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.</div>
          <div class="page__text">Не следует, однако забывать, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание новых предложений. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль.</div><img src="img/usluga-img.png">
          <div class="page__text">Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации систем массового участия.</div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__nav">
        <div class="container">
          <ul class="menu-bar">
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">о нас</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">команда</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">контакты</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">услуги</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">зерновоз</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">отзывы</a></li>
            <li class="menu-bar__link menu-bar__helper"></li>
          </ul>
        </div>
      </div>
      <div class="container footer__bottom">
        <div class="footer__col-first">
          <div class="cr">© ООО «НТК» — 2015-2017</div><a class="m-version" href="#mobile-v"><i class="fa fa-mobile" aria-hidden="true"></i><span>Мобильная версия</span></a>
        </div>
        <div class="footer__col-contacts">
          <p>Телефон: Москва +7 499 348 13 20, Екатеринбург +7 343 351 76 80,</p>
          <p>Казахстан (Алматы) +7 727 350 81 02</p>
          <p>Адрес: 620014, г. Екатеринбург, ул. Малышева д. 51, оф. 43/02</p>
        </div>
        <div class="footer__col-sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </footer><!-- SCRIPTS -->
    <script src="static/js/ext/owl.carousel.min.js"></script>
    <script src="static/js/ext/jquery.animateNumber.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
  </body>
</html>

src/_partials/usluga.pug
.page
  .page__header.page-service__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
      a(href="#l").breadcrumbs__item Услуги
    h1.page__title Вагоны-зерновозы
  .container
    .page__sidebar
      .sidebar-menu.sidebar-col
        h3.sidebar-menu__title
          a(href="#l").sidebar-menu__title Услуги
          .accordion__toggle.accordion__toggle_active.sidebar-menu__toggle
        ul.sidebar-menu__list
          li.sidebar-menu__item
            a(href="#l").sidebar-menu__link.sidebar-menu__link_current Вагоны-зерновозы
          li.sidebar-menu__item
            a(href="#l").sidebar-menu__link Крытые вагоны
          li.sidebar-menu__item
            a(href="#l").sidebar-menu__link Оплата жд тарифа
          li.sidebar-menu__item
            a(href="#l").sidebar-menu__link Услуги грузоотправителя
          li.sidebar-menu__item
            a(href="#l").sidebar-menu__link Найти закуп / сбыт зерновых
      .sidebar-col.sidebar-col_light.sidebar-col_hidden
        img(src="img/mironov.png").sidebar-col__img-o
        b.page__text Микронов Иван Николаевич
        .page__text Менеджер<br>по продажам
        .page__text +7 343 351 76<br>
          a(href="#").link.link_dark sale@vagonom.ru
    .page__content
      img(src="img/usluga-thumb.png").page__thumb
      .page__text Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании новых предложений.
      .page__text Таким образом консультация с широким активом влечет за собой процесс модернизации систем массового участия.
      form.page-form
        div
          label.page-form__label
            span Ваше имя
              sup *
            input(type="text" data-req="req").page-form__input
          label.page-form__label
            span Ваш E-mail
              sup *
            input(type="email" data-req="req" data-type="email").page-form__input
        input(type='checkbox'  id='cb-2').checkbox.checkbox_front
        label(for='cb-2').page-form__label_dark.page-form__check Согласен на обработку 
          a(href="#").link.link_dark персональных данных
        .page-form__error
          input(type='submit' value="Оставить заявку").btn
          .page-form__error-text Некоторые поля не заполнены или заполнены с ошибкой
      .b-statistics
        .b-statistics__item
          .b-statistics__item-title.js-num(data-digits="13753") 999
          .b-statistics__item-text вагона зерновоза
          .page__text в оперировании
        .b-statistics__item
          .b-statistics__item-title.js-num(data-digits="7") 0
          .b-statistics__item-text дней
          .page__text средний срок поставки вагонов
        .b-statistics__item
          .b-statistics__item-title.js-num(data-digits="17") 0
          .b-statistics__item-text минут
          .page__text максимальный срок расчета ставки
      h2 H2 — Заголовок второго уровня, условный текст в две строки, чтобы показать межстрочный интервал
      .page__text Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
      .page__text Не следует, однако забывать, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание новых предложений. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль.
      img(src="img/usluga-img.png")
      .page__text Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации систем массового участия.
