src/_partials/vacancy.pug
.page
  .page__header.page-vacancy__header
    .breadcrumbs
      a(href="#l").breadcrumbs__item Главная
    h1 Вакансии
  .container
    .page__content.page__content_first
      .page-faq__list
        .page-faq__item
          .page-faq__item-title Менеджер по продажам
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Вы читали Игоря Манн, Сергея Азимова, Радислава Гандапаса, Джима Коллинз (и многих другие не менее известных людей) – у Вас есть цель в жизни. 
              li Вы умеете находить общий язык с людьми, достигаете поставленных целей в диалоге, при этом не ломаете психику Вашему оппоненту. 
              li Вы прилагаете максимум своих усилий, чтобы сдержать данное обещание. Вас можно назвать ответственным. 
              li Открыты к аргументированной обратной связи, готовы меняться и быстро усваиваете новую информацию. 
              li Продажи для Вас не заканчиваются после первого согласия клиентов, вы доводите сделку до логического завершения. 
              li Для клиентов Вы делаете больше, чем того требовалось. Вы понимаете, что такое стратегическое партнерство. 
              li Или у Вас есть огромное желание добиться всех 6 параметров, которые позволяют продажнику достигать выдающихся результатов. 
            b Обязанности:
            ul
              li Испытание «Холодом» - много, очень много холодных звонков.В день не менее 7 целевых клиентов. 
              li Испытание «IT» - сопровождение всех сделок в CRM, 1С. Расчет ставок клиентам в сжатые сроки. 
              li Испытание «Ответственности» - ежемесячные планы, 3 раза в неделю оперативки, посещение партнеров (а работаем мы в 3-х странах), стратегические сессии (в том числе и по выходным) и сверка «часов». 
            b Условия работы:
            ul
              li Ваш результат оценивается: окладной частью + % с продаж. 
              li Мы гордимся тем, что наш офис находится в центре Екатеринбурга в самом высоком здании БЦ Высоцкий (наш 43 этаж и изумительный вид на город). 
              li Коллектив прорывных людей, дружных коллег и амбициозных лидеров с четко поставленной целью по SMART 
              li 5- дневная рабочая неделя. Но этот факт не снимает ответственности за доведение сделок и договоренностей. 
              li Обучения, тренинги, рекомендуемая литература, обратная связь – компания растет пропорционально росту сотрудников, и мы это понимаем.
        .page-faq__item
          .page-faq__item-title Механик
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Менеджер по продажам
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Вы читали Игоря Манн, Сергея Азимова, Радислава Гандапаса, Джима Коллинз (и многих другие не менее известных людей) – у Вас есть цель в жизни. 
              li Вы умеете находить общий язык с людьми, достигаете поставленных целей в диалоге, при этом не ломаете психику Вашему оппоненту. 
              li Вы прилагаете максимум своих усилий, чтобы сдержать данное обещание. Вас можно назвать ответственным. 
              li Открыты к аргументированной обратной связи, готовы меняться и быстро усваиваете новую информацию. 
              li Продажи для Вас не заканчиваются после первого согласия клиентов, вы доводите сделку до логического завершения. 
              li Для клиентов Вы делаете больше, чем того требовалось. Вы понимаете, что такое стратегическое партнерство. 
              li Или у Вас есть огромное желание добиться всех 6 параметров, которые позволяют продажнику достигать выдающихся результатов. 
            b Обязанности:
            ul
              li Испытание «Холодом» - много, очень много холодных звонков.В день не менее 7 целевых клиентов. 
              li Испытание «IT» - сопровождение всех сделок в CRM, 1С. Расчет ставок клиентам в сжатые сроки. 
              li Испытание «Ответственности» - ежемесячные планы, 3 раза в неделю оперативки, посещение партнеров (а работаем мы в 3-х странах), стратегические сессии (в том числе и по выходным) и сверка «часов». 
            b Условия работы:
            ul
              li Ваш результат оценивается: окладной частью + % с продаж. 
              li Мы гордимся тем, что наш офис находится в центре Екатеринбурга в самом высоком здании БЦ Высоцкий (наш 43 этаж и изумительный вид на город). 
              li Коллектив прорывных людей, дружных коллег и амбициозных лидеров с четко поставленной целью по SMART 
              li 5- дневная рабочая неделя. Но этот факт не снимает ответственности за доведение сделок и договоренностей. 
              li Обучения, тренинги, рекомендуемая литература, обратная связь – компания растет пропорционально росту сотрудников, и мы это понимаем.
        .page-faq__item
          .page-faq__item-title Название вакансии
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Бухгалтер
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Водитель
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Название вакансии
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Бухгалтер
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Водитель
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Механик
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Бухгалтер
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Механик
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
        .page-faq__item
          .page-faq__item-title Бухгалтер
            .page-faq__item-toggle
          .page-faq__item-content
            b Требования:
            ul
              li Механизация
    .page__sidebar
      .sidebar-col.sidebar-col_light
        h3 Отправить резюме
        form
          .form__row <sup>*</sup> — поля обязательные для заполнения
          label.page-form__label
            span Ваше имя
              sup *
            input.page-form__input(type='text', data-req='req')
          label.page-form__label
            span Интересующая должность
              sup *
            input.page-form__input(type='text', data-req='req')
          label.page-form__label
            span Ваш E-mail
              sup *
            input.page-form__input(type='email', data-req='req')
          label.page-form__label
            span Телефон
              sup *
            input.page-form__input(type='tel', data-req='req')
          label.page-form__label
            span Сообщение
            textarea(rows='2').page-form__textarea
          .form__row
            a.link.link_attached.js-add-file(href='#l')
              i.fa.fa-paperclip.fa-flip-horizontal(aria-hidden='true')
              span Прикрепить файл с резюме
          input#cb-2.checkbox.checkbox_front(type='checkbox' checked)
          label.page-form__label_dark.page-form__check(for='cb-2')
            | Согласен на обработку 
            a.link.link_dark(href='#') персональных данных
          .page-form__error
            input(type='submit' value="Отправить").btn
            .page-form__error-text Некоторые поля не заполнены или заполнены с ошибкой
    .paginator.paginator_in_container
      ul.paginator__list
        li.paginator__item.paginator__item_prev
          a.paginator__link(href='#prev') Назад
        li.paginator__item.paginator__item_current
          span 1
        li.paginator__item
          a.paginator__link(href='#page') 2
        li.paginator__item
          a.paginator__link(href='#page') 3
        li.paginator__item
          a.paginator__link(href='#page') 4
        li.paginator__item
          a.paginator__link(href='#page') 5
        li.paginator__item
          a.paginator__link(href='#page') 6
        li.paginator__item
          span ...
        li.paginator__item
          a.paginator__link(href='#page') 99
        li.paginator__item.paginator__item_next
          a.paginator__link(href='#next') Вперед

public/vacancy.html
<!DOCTYPE html>
<html>
  <head>
    <title>Pug-Sass Starter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript"></script>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      if ($(window).width() <= 480) {$('meta[name="viewport"]').attr('content', 'width=480')}
      
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="menu-toggle"><span></span><a class="bt" href="#l"></a></div><a class="logo header__logo" href="#index">
        <div class="logo__desc">Национальная транспортная компания</div></a>
      <div class="header__trigger"><a class="tel" href="tel:+78002222222">8 800 2222 222</a><a class="btn" href="#linka">Узнать больше</a></div>
      <div class="main-nav">
        <ul class="main-menu">
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">О нас</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Команда</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Контакты</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Услуги</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Зерновоз</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#linka">Отзывы</a></li>
        </ul>
        <div class="social-nets main-menu__social-nets"><a class="social-ico ico-insta fa fa-instagram" href="#l" aria-hidden="true"></a><a class="social-ico ico-fb fa fa-facebook" href="#l" aria-hidden="true"></a><a class="social-ico ico-vk fa fa-vk" href="#l" aria-hidden="true"></a><a class="social-ico ico-wu fa fa-whatsapp" href="#l" aria-hidden="true"></a><a class="social-ico ico-li fa fa-linkedin" href="#l" aria-hidden="true"></a><a class="social-ico ico-yt fa fa-youtube" href="#l" aria-hidden="true"></a></div>
        <div class="main-menu__sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </header>
    <div class="page">
      <div class="page__header page-vacancy__header">
        <div class="breadcrumbs"><a class="breadcrumbs__item" href="#l">Главная</a></div>
        <h1>Вакансии</h1>
      </div>
      <div class="container">
        <div class="page__content page__content_first">
          <div class="page-faq__list">
            <div class="page-faq__item">
              <div class="page-faq__item-title">Менеджер по продажам
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Вы читали Игоря Манн, Сергея Азимова, Радислава Гандапаса, Джима Коллинз (и многих другие не менее известных людей) – у Вас есть цель в жизни. </li>
                  <li>Вы умеете находить общий язык с людьми, достигаете поставленных целей в диалоге, при этом не ломаете психику Вашему оппоненту. </li>
                  <li>Вы прилагаете максимум своих усилий, чтобы сдержать данное обещание. Вас можно назвать ответственным. </li>
                  <li>Открыты к аргументированной обратной связи, готовы меняться и быстро усваиваете новую информацию. </li>
                  <li>Продажи для Вас не заканчиваются после первого согласия клиентов, вы доводите сделку до логического завершения. </li>
                  <li>Для клиентов Вы делаете больше, чем того требовалось. Вы понимаете, что такое стратегическое партнерство. </li>
                  <li>Или у Вас есть огромное желание добиться всех 6 параметров, которые позволяют продажнику достигать выдающихся результатов. </li>
                </ul><b>Обязанности:</b>
                <ul>
                  <li>Испытание «Холодом» - много, очень много холодных звонков.В день не менее 7 целевых клиентов. </li>
                  <li>Испытание «IT» - сопровождение всех сделок в CRM, 1С. Расчет ставок клиентам в сжатые сроки. </li>
                  <li>Испытание «Ответственности» - ежемесячные планы, 3 раза в неделю оперативки, посещение партнеров (а работаем мы в 3-х странах), стратегические сессии (в том числе и по выходным) и сверка «часов». </li>
                </ul><b>Условия работы:</b>
                <ul>
                  <li>Ваш результат оценивается: окладной частью + % с продаж. </li>
                  <li>Мы гордимся тем, что наш офис находится в центре Екатеринбурга в самом высоком здании БЦ Высоцкий (наш 43 этаж и изумительный вид на город). </li>
                  <li>Коллектив прорывных людей, дружных коллег и амбициозных лидеров с четко поставленной целью по SMART </li>
                  <li>5- дневная рабочая неделя. Но этот факт не снимает ответственности за доведение сделок и договоренностей. </li>
                  <li>Обучения, тренинги, рекомендуемая литература, обратная связь – компания растет пропорционально росту сотрудников, и мы это понимаем.</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Механик
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Менеджер по продажам
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Вы читали Игоря Манн, Сергея Азимова, Радислава Гандапаса, Джима Коллинз (и многих другие не менее известных людей) – у Вас есть цель в жизни. </li>
                  <li>Вы умеете находить общий язык с людьми, достигаете поставленных целей в диалоге, при этом не ломаете психику Вашему оппоненту. </li>
                  <li>Вы прилагаете максимум своих усилий, чтобы сдержать данное обещание. Вас можно назвать ответственным. </li>
                  <li>Открыты к аргументированной обратной связи, готовы меняться и быстро усваиваете новую информацию. </li>
                  <li>Продажи для Вас не заканчиваются после первого согласия клиентов, вы доводите сделку до логического завершения. </li>
                  <li>Для клиентов Вы делаете больше, чем того требовалось. Вы понимаете, что такое стратегическое партнерство. </li>
                  <li>Или у Вас есть огромное желание добиться всех 6 параметров, которые позволяют продажнику достигать выдающихся результатов. </li>
                </ul><b>Обязанности:</b>
                <ul>
                  <li>Испытание «Холодом» - много, очень много холодных звонков.В день не менее 7 целевых клиентов. </li>
                  <li>Испытание «IT» - сопровождение всех сделок в CRM, 1С. Расчет ставок клиентам в сжатые сроки. </li>
                  <li>Испытание «Ответственности» - ежемесячные планы, 3 раза в неделю оперативки, посещение партнеров (а работаем мы в 3-х странах), стратегические сессии (в том числе и по выходным) и сверка «часов». </li>
                </ul><b>Условия работы:</b>
                <ul>
                  <li>Ваш результат оценивается: окладной частью + % с продаж. </li>
                  <li>Мы гордимся тем, что наш офис находится в центре Екатеринбурга в самом высоком здании БЦ Высоцкий (наш 43 этаж и изумительный вид на город). </li>
                  <li>Коллектив прорывных людей, дружных коллег и амбициозных лидеров с четко поставленной целью по SMART </li>
                  <li>5- дневная рабочая неделя. Но этот факт не снимает ответственности за доведение сделок и договоренностей. </li>
                  <li>Обучения, тренинги, рекомендуемая литература, обратная связь – компания растет пропорционально росту сотрудников, и мы это понимаем.</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Название вакансии
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Бухгалтер
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Водитель
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Название вакансии
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Бухгалтер
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Водитель
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Механик
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Бухгалтер
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Механик
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
            <div class="page-faq__item">
              <div class="page-faq__item-title">Бухгалтер
                <div class="page-faq__item-toggle"></div>
              </div>
              <div class="page-faq__item-content"><b>Требования:</b>
                <ul>
                  <li>Механизация</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page__sidebar">
          <div class="sidebar-col sidebar-col_light">
            <h3>Отправить резюме</h3>
            <form>
              <div class="form__row"><sup>*</sup> — поля обязательные для заполнения</div>
              <label class="page-form__label"><span>Ваше имя<sup>*</sup></span>
                <input class="page-form__input" type="text" data-req="req">
              </label>
              <label class="page-form__label"><span>Интересующая должность<sup>*</sup></span>
                <input class="page-form__input" type="text" data-req="req">
              </label>
              <label class="page-form__label"><span>Ваш E-mail<sup>*</sup></span>
                <input class="page-form__input" type="email" data-req="req">
              </label>
              <label class="page-form__label"><span>Телефон<sup>*</sup></span>
                <input class="page-form__input" type="tel" data-req="req">
              </label>
              <label class="page-form__label"><span>Сообщение</span>
                <textarea class="page-form__textarea" rows="2"></textarea>
              </label>
              <div class="form__row"><a class="link link_attached js-add-file" href="#l"><i class="fa fa-paperclip fa-flip-horizontal" aria-hidden="true"></i><span>Прикрепить файл с резюме</span></a></div>
              <input class="checkbox checkbox_front" id="cb-2" type="checkbox" checked>
              <label class="page-form__label_dark page-form__check" for="cb-2">Согласен на обработку <a class="link link_dark" href="#">персональных данных</a></label>
              <div class="page-form__error">
                <input class="btn" type="submit" value="Отправить">
                <div class="page-form__error-text">Некоторые поля не заполнены или заполнены с ошибкой</div>
              </div>
            </form>
          </div>
        </div>
        <div class="paginator paginator_in_container">
          <ul class="paginator__list">
            <li class="paginator__item paginator__item_prev"><a class="paginator__link" href="#prev">Назад</a></li>
            <li class="paginator__item paginator__item_current"><span>1</span></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">2</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">3</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">4</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">5</a></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">6</a></li>
            <li class="paginator__item"><span>...</span></li>
            <li class="paginator__item"><a class="paginator__link" href="#page">99</a></li>
            <li class="paginator__item paginator__item_next"><a class="paginator__link" href="#next">Вперед</a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__nav">
        <div class="container">
          <ul class="menu-bar">
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">о нас</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">команда</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">контакты</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">услуги</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">зерновоз</a></li>
            <li class="menu-bar__item"><a class="menu-bar__link" href="#link-m">отзывы</a></li>
            <li class="menu-bar__link menu-bar__helper"></li>
          </ul>
        </div>
      </div>
      <div class="container footer__bottom">
        <div class="footer__col-first">
          <div class="cr">© ООО «НТК» — 2015-2017</div><a class="m-version" href="#mobile-v"><i class="fa fa-mobile" aria-hidden="true"></i><span>Мобильная версия</span></a>
        </div>
        <div class="footer__col-contacts">
          <p>Телефон: Москва +7 499 348 13 20, Екатеринбург +7 343 351 76 80,</p>
          <p>Казахстан (Алматы) +7 727 350 81 02</p>
          <p>Адрес: 620014, г. Екатеринбург, ул. Малышева д. 51, оф. 43/02</p>
        </div>
        <div class="footer__col-sitedev"><a class="sitedev" href="https://dextra.ru"><span>Разработка сайта: </span><span>Интернет-агентство Dextra</span></a></div>
      </div>
    </footer><!-- SCRIPTS -->
    <script src="static/js/ext/owl.carousel.min.js"></script>
    <script src="static/js/ext/jquery.animateNumber.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
  </body>
</html>
